.btn {
    background-color: var(--text-color);
    padding: 1em;
    border-radius: 6px;
    color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn * {
    margin: 0 5px;
}

.selected {
    background-color: var(--teal);

}

/* HEADER */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-purple);
    color: var(--teal);
    height: 8vh;
    font-size: 40px;
    padding: 1em .5em; 
}
/* IN GAME FOOTER*/
.footerContainer {
    background-color: var(--teal);
} 

.footer {
    background-color: var(--teal);
    color: var(--background);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 3em;
    padding: 6px;
}

.nextStep {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 5em;
}